* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
}

nav {
  display: flex;
}

nav ul {
  display: flex;
  gap: 23px;
  list-style-type: none;
}

nav ul li a {
  text-decoration: none;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #989D9C;
}