* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
}

nav {
  display: flex;
}

nav > ul {
  display: flex;
}

@media (max-width: 480px) {
  
}