* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
}

nav {
  display: flex;
  margin-left: 75px;
  gap: 25px;
  margin-top: 40px;
  align-items: center;
}

nav > ul {
  display: flex;
  list-style: none;
  gap: 25px;
}

button {
  border: none;
}

nav > ul > li > button {
  background-color: transparent;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #989D9C;
}

#button-logIn {
  width: 130px;
  height: 41px;
  background: #665AE1;
  border-radius: 20.5px;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
}

#div-container {
  display: flex;
}

@media (max-width: 480px) {
  
}